.grid-container {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  justify-content: center;

  @media (min-width: 848px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1264px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1680px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #EEE;
  padding: 16px;
  margin-bottom: 8px;
  max-width: 400px;
  height: 300px;
}